:root {
  --fonte-principal: 'Open Sans', sans-serif;
  --cor-principal: #2b2b2b;
  --cor-letras: #f2f2f2;
}

html {
  font-family: var(--fonte-principal);
  font-size: 1.2rem;
}

/* CABEÇALHO DA PÁGINA */

.header {
  background-color: var(--cor-principal);
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.header__title{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: var(--cor-letras);
}

.header__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 1rem;
}

.header__list>li>a{
  text-decoration: none;
  color: var(--cor-letras);
}

.header__list--cart {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  color: var(--cor-letras);
}

/* SEÇÃO PRODUTOS */

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 16vh;
}

.product__title {
  font-size: 2rem;
}

.productList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  grid-auto-flow: row;
  place-items: center;
  justify-content: center;
  align-content: center;
  height: 100vh;
  padding: 0 6rem;
}

.productList__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13vw;
  height: 40vh;
  padding: 1rem;
  gap: 1.2rem;
  border: 2px solid var(--cor-principal);
  transition: 1s;

}

.productList__item:hover{
  transform: scale(1.1);
  transition: 1s;
}

.productTitle{
  font-size: 1.5rem;
  color: var(--cor-principal);
}

.productImage {
  width: 8rem;
  height: 6em;
  border-radius: 1rem;
  object-fit: cover;
}

.productDescription {
  font-size: 1.5rem;
  text-align: center;
}